/* set map full screen*/
#map {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

/* User info */
#user_info article {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0);
    color: azure;

    font-size: large;
    line-height: 150%;
    top: 5%;
    left: 6%;
}

#user_info img {
    position: absolute;
    /*height: 10vh;*/
    width: 100%;
    z-index: 2;
}

/* Shop Icon */
#shop_icon {
    position: absolute;
    left: 20rem;
    z-index: 2;
}

#shop_icon img {
    position: absolute;
    height: 5rem;
    z-index: 2;
}

#shop_icon p {
    color: aliceblue;
    z-index: 5;
}

/* Shop page */
#shop {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;

    display: none;
}

#shop img {
    position: absolute;
    height: 20rem;
}

#shop article {
    position: relative;
    top: 5rem;

    color: aliceblue;
}

/* Tasks */
#tasks {
    position: absolute;
    top: 30%;
    left: 2%;
    z-index: 2;
}

#tasks img {
    position: absolute;
    height: 28rem;
}

#tasks article {
    position: absolute;
    color: aliceblue;

    top: 4rem;
    left: 2rem;
}

/* Task info */
#task_info {
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 2;

    display: none;
}

#task_info img {
    position: absolute;
    height: 25rem;
}

#task_info article {
    position: absolute;
    color: aliceblue;

    top: 4rem;
    left: 20rem;
}

/* Version tasks */
#version_tasks {
    position: absolute;
    top: 20%;
    left: 35%;

    z-index: 2;
}

#version_tasks img {
    position: absolute;
    height: 35rem;
}

/* Version tasks icon */
#version_tasks_icon {
    position: absolute;
    left: 60%;

    z-index: 2;
}

#version_tasks_icon img {
    height: 8rem;
}