/* set map full screen*/
#map {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

/* Fly confirm */
#fly_confirm {
    position: absolute;
    z-index: 2;

    top: 40%;
    left: 40%;

    display: none;
}

#fly_confirm img {
    position: absolute;
    height: 20rem;
}

#fly_confirm article {
    position: relative;
    width: 20rem;

    top: 4rem;
    left: 3rem;

    color: aliceblue;
}
/* User info */
#user_info article {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0);
    color: azure;

    font-size: large;
    line-height: 150%;
    top: 5%;
    left: 6%;
}

#user_info img {
    position: absolute;
    /*height: 10vh;*/
    width: 100%;
    z-index: 2;
}

/* Shop Icon */
#shop_icon {
    position: absolute;
    left: 80%;
    z-index: 2;
}

#shop_icon img {
    position: absolute;
    height: 8rem;
    z-index: 2;
}

/* Shop page */
#shop {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;

    display: none;
}

#shop img {
    position: absolute;
    height: 30rem;
}

#shop article {
    position: relative;
    top: 5rem;
    left: 4rem;

    color: aliceblue;
    display: flex;

}

#shop article figure {
    position: relative;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#shop article figure img {
    position: relative;
    height: 5.7rem;
}

#shop article figure figcaption {
    font-size: larger;
    font-weight: bold;
    color: coral;
}

#shop article figure p {
    width: 9rem;
}

/* Tasks */
#tasks {
    position: absolute;
    top: 30%;
    left: 2%;
    z-index: 2;
}

#tasks img {
    position: absolute;
    height: 28rem;
}

#tasks p {
    position:relative;
    color: aliceblue;

    top: 4rem;
    left: 2rem;
}

/* Task info */
#task_info {
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 2;

    display: none;
}

#task_info img {
    position: absolute;
    height: 25rem;
}

#task_info article{
    position: relative;
    color: aliceblue;

    top: 5.5rem;
    left: 5.5rem;

    width: 42rem;

    display: flex;
}

#task_info article p {
    margin-left: 2rem;
}

#task_info article img {
    position: relative;
    height: 13rem;
}

/* Version tasks */
#version_tasks {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;

    display: none;
}

#version_tasks img {
    position: absolute;
    height: 40rem;
}

#version_tasks article {
    position: relative;

    top: 11rem;
    left: 8rem;

    width: 27rem;
}

#version_tasks article img {
    position: relative;
    height: 10rem;
}

#version_tasks article p {
    position: relative;
    color: #FF00FF;
    font-weight: bold;
}

/* Version tasks icon */
#version_tasks_icon {
    position: absolute;
    left: 60%;

    z-index: 2;
}

#version_tasks_icon img {
    height: 8rem;
}